.banner{
    background-image: url("../../../../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: contain;
    color: white;
}
.banner h1{
    font-size:60px;
    font-weight: bold;
    text-transform: uppercase;
}
.title{
    margin-top:150px;
    color: white;
    
}
.join{
    background-color: purple;
    color: white;
    font-weight: bold;
    width:300px;
    height:60px;
    border-radius: 10px;
    font-size:25px;
}
@media (max-width: 768px) {
    .banner h1{
        font-size:20px;
    }
    .banner{
        height: 300px;
    }
    .title{
        margin-top:100px;
        
    }
}